.background {
  color: #F5F5F5;
}
.num {
  color: #AF0F91;
}
.str {
  color: #483D8B;
}
.com {
  color: gray50;
  font-style: italic;
}
.opt {
  color: #000000;
}
.std {
  color: #585858;
}
.kwa {
  color: #295F94;
  font-weight: bold;
}
.kwb {
  color: #B05A65;
}
.kwc {
  color: #55aa55;
}
.kwd {
  color: darkslateblue;
  font-weight: bold;
}
